<%= render 'producers/producers/header' %>
<h1>SHOP編集</h1>
<div class="new">
	<%= form_for(@shop, url: producers_shop_path(@shop), method: :patch) do |f| %>
		<% if @shop.errors.any? %>
	<div class="alert alert-danger" role class="alert">
		<p class="error-count"><%= @shop.errors.full_messages.count %>errors prohibited this product from being saved:</p>
		<ul>
			<% @shop.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :shop_name, "SHOP名" %>
		<%= f.text_field :shop_name %>
	</div>
	<br>

	<div class="field">
		<%= f.label :shop_text, "SHOP紹介" %>
		<%= f.text_field :shop_text %>
	</div>
	<br>

	<div class="field">
	<p>SHOP 住所</p>

  		<%= f.label :postcode, "郵便番号" %>
  		<%= f.text_field :postcode %>
    </div>
    <br>

	<div class="field">
    	<%= f.label :prefecuture, "都道府県" %>
  		<%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :code, :name, options = {:selected => @shop.prefecture_code} %>
    </div>
    <br>

	<div class="field">
  		<%= f.label :address_city, "市町村" %>
  		<%= f.text_field :address_city %>
	</div>
	<br>

	<div class="field">
	<p>※番地まで記入をお願いします　例: 4丁目-5-1など</p>
  		<%= f.label :address_street, "番地" %>
  		<%= f.text_field :address_street %>
	</div>
	<br>

	<div class="field">
  		<%= f.label :address_building, "建物名" %>
  		<%= f.text_field :address_building %>
    </div>
  	<br>

  	<div class="field">
	<p>※記入例: 水・金曜日</p>
  		<%= f.label :regular_holiday, "定休日" %>
  		<%= f.text_field :regular_holiday %>
	</div>
	<br>

	<div class="field">
	<p>営業時間</p>
		<%= f.label :open, "OPEN" %>
		<%= f.text_field :open %>時
	</div>

	<div class="field">
		<%= f.label :close, "CLOSE" %>
		<%= f.text_field :close %>時
	</div>
	<br>

	<div class="field">
	<p>※記入例 :123-4567-890</p>
		<%= f.label :phone_number, "店舗電話番号" %>
		<%= f.text_field :phone_number %>
	</div>
	<br>

	<div class="field">
		<%= f.label :station, "最寄り駅" %>
		<%= f.text_field :station %>
	</div>
	<br>

	<div class="field">
		<%= f.label :minutes_on_foot, "最寄り駅から徒歩の場合 :約" %>
		<%= f.text_field :minutes_on_foot %>
	</div>
	<br>

	<div class="field">
		<%= f.label :minutes_on_car, "最寄り駅から車の場合 :約" %>
		<%= f.text_field :minutes_on_car %>
	</div>
	<br>

	<div class="field">
		<%= f.label :shop_image, "SHOP画像" %>
		<%= f.attachment_field :shop_image %>
	</div>
	<br>

	<div class="field"><%= f.submit '更新する', class: "button" %></div>
	<% end %>

</div>

<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
<script type="text/javascript"></script>
<script>

 $("#shop_postcode").jpostal({
    postcode : [ "#shop_postcode" ],
    address  : {
                  "#shop_prefecture_code" : '%3',
                  "#shop_address_city"            : '%4',
                  "#shop_address_street"          : '%5%6%7'
                }
})

</script>

<style>
	.new{
		text-align: justify;
		text-justify: inter-ideograph;

	}
	.field{
		width:250px;
		margin:0 auto;

	}
	h1{
		text-align: center;
	}
	input{
		float:right;
	}
	select{
		float:right;
	}
	label{
		margin-left: 20px
	}
	p{
		margin-left: 20px;
		font-size:16px;
		text-decoration: underline;
	}
	.button {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.button:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}



</style>
