<%= render 'end_users/end_users/end_user_header' %>
<h1>予約ページ</h1>
<% @memories.each do |p| %>
<table>
	<thead>
		<tr>
			<th><%= attachment_image_tag p.product, :product_image, :fill, 400, 200, fallback: "no_image.jpg", size: '400x200' %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>商品名:<%= p.product.product_name %></td>
			<td>商品説明:<%= p.product.product_text %></td>
			<td>販売店舗:<%= p.product.shop.shop_name %></td>
		</tr>
	</tbody>
</table>
<% end %>
<%= link_to "情報入力画面へ進む", new_end_users_reservation_path %>

