<h1>Producers::Producers#index</h1>
<%= link_to "ログアウト", destroy_producer_session_path, method: :delete %>
<br>
<%= link_to "ショップ登録を行う", new_producers_shop_path(current_producer) %>
<br>

<%= link_to "商品登録を行う", new_producers_product_path(current_producer) %>
<br>
<br>
<%= link_to "ショップ一覧", producers_shops_path(current_producer.shops) %>
<br>
<%= link_to "商品一覧", producers_product_path(current_producer.products) %>
