<%= render 'producers/producers/header' %>
<h1>shop一覧</h1>

<h2><%= current_producer.email %>のショップ一覧</h2>

	<table>
		<thead>
			<tr>
				<th>店名</th>
			</tr>
		</thead>
		<% current_producer.shops.each do |shop| %>
		<tbody>
			<tr>
				<td><%= shop.shop_name %></td>
				<th><%= attachment_image_tag shop, :shop_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200x200' %></th>
				<th><%= link_to "詳細を見る", shops_producers_producer_path(shop) %>
				<td><%= link_to "編集", edit_producers_shop_path(shop) %>
				<td><%= link_to "削除", producers_shop_path(shop), method: :delete %>
			</tr>
		</tbody>
		<% end %>
	</table>