<%= render 'producers/producers/header' %>


<h1><%= current_producer.email %>さんのマイページ</h1>
	<%= link_to "ログアウト", destroy_producer_session_path, method: :delete %>
<br>
	<%= link_to "ショップ登録を行う", new_producers_shop_path %>
<br>

	<%= link_to "商品登録を行う", new_producers_product_path %>
<br>
<br>
	<%= link_to "ショップ一覧", producers_shops_path %>
<br>
	<%= link_to "商品一覧", producers_products_path  %>
<br>

<%= link_to "ユーザー情報を編集する", edit_producer_registration_path(current_producer) %>
<br>
<%= link_to '退会する方はこちらから', withdraw_producers_producer_path(current_producer) %>