<%= render 'end_users/end_users/end_user_header' %>

<div class="shop_all">
  <h1>店舗一覧</h1>
  <%= form_with(url: search_shop_end_users_shops_path, method: :get, local: true) do |f| %>
  <%= f.label :"店舗検索:都道府県で検索する" %>
  <div class="select1"><%= f.collection_select :pref, JpPrefecture::Prefecture.all, :code, :name %></div>
  <%= f.submit "検索する", class: "input1" %>
  <% end %>

  <% @place = Shop.new %>
  <% @shops.each do |s| %>
  <% @place.prefecture_code = s.prefecture_code %>

  <div class="shop">
    <%= link_to end_users_shop_path(s) do %>
    <%= attachment_image_tag s, :shop_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200x200', class: "shop_image1" %><% end %><br>
    <p>店名:<%= s.shop_name %></p>
    <p>店舗紹介:<%= s.shop_text %></p>
    <p>店舗所在 :<%= @place.prefecture.name %> <%= s.address_city %> <%= s.address_street %> <%= s.address_building %></p>
    <p>営業時間 :<%= s.open %>時〜<%= s.close %>時</p>
  </div>
  <% end %>
</div>

<div>
  <p class="toTop">ページトップへ</p>
</div>
<div class="page">
  <%= paginate @shops, class: "paginate" %>
</div>

<%= render 'end_users/end_users/end_user_footer' %>

<style>
  .shop_all{
   width: 1300px;
   margin: 0 auto;
   text-align:center;
   overflow: hidden;
 }

 .shop {
   float: left;
   text-align: center;
   position: relative;
   padding: 0.25em 0;
 }

 .shop:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(left, rgb(230, 90, 90), transparent);
  background: -o-linear-gradient(left, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
  }

 .shop_image1{
  width:300px;
  height:200px;
  margin: 5px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  float: left;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  }
  .shop_image1:hover {
  opacity: 0.6;
  }

  p {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-style: oblique;
  position: relative;
  }

  p:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px skyblue;
  bottom: -3px;
  width: 50%;
  }

  .select1 select{
  width:100px;
  height:30px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  margin-bottom:10px;
  }

  .select1 select:hover {
  background: #67c5ff;
  color: white;
  }

  .input1{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width: 100px;
  height:30px;
  }

  .input1:hover {
  background: #67c5ff;
  color: white;
  }

  .toTop {
  position: relative;
  background-color: #1abc9c;
  border-radius: 4px;
  color: #fff;
  line-height: 40px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  text-align: center;
  margin:20px auto;
  font-size:20px;
  }

  .toTop:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
  }

  .toTop:active {
  top: 3px;
  box-shadow: none;
  }

  .page{
  margin: 0 auto;
  text-align: center;
  font-size:20px;
  overflow: hidden;
  }

  h1{
  width:1200px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  font-size: 40px;
  text-align: center;
  position: relative;
  padding-left: 25px;
  text-align: center;
  margin:0 auto 10px;
  }

  h1:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
  }

  h1:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
  }

  form{
  margin-bottom:20px;
  }

</style>

