<%= render 'end_users/end_users/end_user_header' %>
<div class="reservation">
	<h1>予約メールを設定する</h1>
	<%= form_for(@reservation, url: end_users_reservations_path) do |f| %>
	<div class="date">

		<h3>送信開始</h3>
		<%= f.text_field :start_date, value: "", class: "datetimepicker1", autocomplete: "off" %>

		<h3>送信終了</h3>
		<%= f.text_field :end_date, value: "", class: "datetimepicker2", autocomplete: "off" %>

	</div>
	<div class="submit1">
		<%= f.submit "この日程で予約する", class: "input1"%>
	</div>
	<% end %>
</div>

<%= render 'end_users/end_users/end_user_footer' %>





<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/build/jquery.datetimepicker.full.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/jquery.datetimepicker.css">

<script type="text/javascript">

	$(function () {
		$(".datetimepicker1").datetimepicker();
	});

	$(function () {
		$(".datetimepicker2").datetimepicker();
	});

</script>

<style>
.reservation {
width:1300px;
margin:0 auto;
}

h1 {
text-align: center;
}

h3 {
text-align: center;
}

.date {
margin:0 auto;
text-align: center;
}

.submit1 {
text-align: center;
padding-top:20px;
}

.input1 {
display: inline-block;
padding: 0.3em 1em;
text-decoration: none;
color: #67c5ff;
border: solid 2px #67c5ff;
border-radius: 3px;
transition: .4s;
}

.input1:hover {
background: #67c5ff;
color: white;
}

</style>