<div class="signtop1">
  <div class="sign_up">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
    <% end %>

    <%= render "producers/shared/links" %>
    <%= link_to "back", root_path %>
  </div>
</div>

<style>

  #producer_name{
    color:#555;
  }

  body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
  }

  .sign_up {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
    color:white;
  }

  .sign_up-header,
  .sign_up p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .sign_up-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
  }

  .sign_up-header {
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .sign_up-container {
    background: #ebebeb;
    padding: 12px;
  }

  .sign_up p {
    padding: 12px;
  }

  .sign_up input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }

  .sign_up input[type="email"],
  .sign_up input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
  }

  .sign_up input[type="email"]:focus,
  .sign_up input[type="password"]:focus {
    border-color: #888;
  }

  .sign_up input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }

  .sign_up input[type="submit"]:hover {
    background: #17c;
  }

  /* Buttons' focus effect */
  .sign_up input[type="submit"]:focus {
    border-color: #05a;
  }

  h2{
    font-size:40px;
    color:white;
  }

  a:link {
    color: white;
  }

  a:visited {
    color:white;
  }

</style>