<%= render 'producers/producers/header' %>
<div class= "product_show">
	<h1><%= @product.product_name %>の詳細ページ</h1>
	<div class="product">
		<%= attachment_image_tag @prouduct, :product_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200x200', class: "product_image1" %>
		<div class="product_int">
			<p>商品名:<%= @product.product_name %></p>
			<p>商品価格:<%= @product.product_price %></p>
			<p>ジャンル:
			<% @product.product_categories.each do |c|%>
			<%= c.category.name %>
			<% end %></p>
			<p>商品説明:<%= @product.product_text %></p>
			<div class="button">
				<%= link_to "編集", edit_admins_product_path(@product) %>
			</div>
			<div class="button">
				<%= link_to "削除", admins_product_path(@product), method: :delete %>
			</div>
		</div>
	</div>
</div>

<style>

	.product_show {
		width:1300px;
		margin:0 auto;
		position: relative;
		    overflow: hidden;
	}
	.product{
	  margin: 0 auto;
      position: relative;
      padding: 0.25em 0;

	}

	.product::after{
	  content: "";
      display: block;
      height: 4px;
      background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
      background: linear-gradient(to right, rgb(230, 90, 90), transparent);
	}

	.product_image1 {
		width: 600px;
		height: 320px;
		margin: 0 auto;
		vertical-align: top;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
	}

	.product_int {
		display: inline-block;
		vertical-align: top;
		margin:10px auto;
		float: right;
	}

	.button {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #67c5ff;
	border: solid 2px #67c5ff;
	border-radius: 3px;
	transition: .4s;
	margin-left:5px;
	}

	.button:hover {
	background: #67c5ff;
	color: white;
	}

	.button a:link { color: #67c5ff; }
	.button a:visited { color: #67c5ff; }
	.button a:hover { color: white; }
	.button a:active { color: white; }

	h1 {
		text-align: center;
	}

	h3 {
		text-align:center;
	}

	p {
		font-size:20px;
		font-style: oblique;
		border-bottom: solid 1px #000;
	}

</style>
