<%= render 'producers/producers/header' %>
<h1>商品登録ページ</h1>
	<%= form_for(@product, url: producers_products_path) do |f| %>
	<% if @product.errors.any? %>
	<div class="alert alert-danger" role class="alert">
		<p class="error-count"><%= @product.errors.full_messages.count %>errors prohibited this product from being saved:</p>
		<ul>
			<% @product.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
		<div calss ="field">
			<%= f.label :shop_id %>
			<%= f.collection_select :shop_id, @shop, :id, :shop_name %>
		</div>
		<br>

		<div class="field">
  			<%= f.label :product_name, "商品名" %>
  			<%= f.text_field :product_name %>
		</div>
		<br>

		<div class="field">
			<%= f.label :product_text, "商品説明" %>
			<%= f.text_field :product_text %>
		</div>
		<br>

		<div class="field">
			<%= f.label :product_price, "商品価格" %>
			<%= f.text_field :product_price %>
		</div>
		<br>

		<div class="field">
			<%= f.label :product_image, "商品画像" %>
			<%= f.attachment_field :product_image %>
		</div>
		<br>

		<div class="field">
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
		</div>


		<%= f.hidden_field :producer_id, value: current_producer.id %>
		<%= f.submit "送信する" %>
	<% end %>