<%= render 'producers/producers/header' %>
<h1><%= @product.product_name %>の詳細ページ</h1>

<table>
	<thead>
		<tr>
			<th><%= attachment_image_tag @prouduct, :product_image, :fill, 200, 200, fallback: "no_image.jpg", size: '200x200' %></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>商品名:<%= @product.product_name %></td>
			<td>商品価格:<%= @product.product_price %></td>
		</tr>
	</tbody>
</table>
			商品説明<%= @product.product_text %>
			<%= link_to "編集", edit_admins_product_path(@product) %>
			<%= link_to "削除", admins_product_path(@product), method: :delete %>